#adminTools{
	display: none;
}
#alltags{
	display: none;
}
#imageIframe{
	display: none;
}
#trashWall{
	width:100%;
	padding: 20px 0;
	position: fixed;
	max-width:674px;
	top: 0;
	background-color: #fff;
	display: none;
	textarea{
		width:100%;
	}
}
#pictures{
	width: 60%;
	margin:auto;
	label{
		display: block;
		font-family: 'Montserrat', sans-serif;
		margin-top: 20px;
	}
	input{
		width:100%;
		box-sizing: border-box;
		padding:10px;
		font-family: 'Montserrat', sans-serif;
		font-weight:400;
		font-size:1em;
		margin-top: 8px;
	}
}
#toolPlacement{
	right: 0;
	position: fixed;
}

#editTitle{
	font-family: 'Montserrat', sans-serif;
	font-size:3.3em;
	font-weight: 600;
	border:none;
	width: 674px;
	outline: none;
	background-color: #1A1A1B;
	color:#fff;
}

#edit{
	margin:auto;
	max-width:674px;
}

.cke_chrome{
	border:none !important;
	width:730px !important;
}

#imageIframe{
	height: 100%;
	float:left;
	position: fixed;
}



#overviewPage{
	max-width:1000px;
	margin:auto;
	a{

		text-decoration: none;
	}
	article{
		display: block;
		overflow: hidden;
		margin-top: 30px;
		img{
			width:70px;
			float:left;
			margin-right: 15px;
		}
		.postDesc{
			float:left;
			h2{
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
				font-size:1.2em;
				a{
					color:#000;
				}
			}
		}
	}
}