#large{

	.slick-dots{
		position: absolute;
		bottom: 20px;
		text-align: center;
		left: 0;
		right: 0;
		li{
			display: inline-block;
			margin-right: 20px;
			&:last-of-type{
				margin-right: 0;
			}
			button{
				border: none;
				background: #fff;
				padding: 1px 4px;
				color: #fff;
				border-radius: 100%;
			}
		}
	}
	#caruselle{
        max-width:100%;
        position: relative;

        @media screen and (max-width:600px){
            display: none;
        }
        div{
            height:50vw;
            width:100%;
            position: relative;
        }
        img{
            position: absolute;
            display: block;
            margin:auto;
            width:100%;
            left: -100%;
            right: -100%;
            top: 0;
            bottom: 0;
        }
    }
    #singleImage{
    	img{
    		width:100%;
    	}
    }
    #mScale{
    	@media screen and (max-width:600px){
    		position: relative;
    		img{
    			width:100%;
    		}
    	}
    	@media screen and (min-width:601px){
    		display: none;
    	}
    }
	header{
		@media screen and (max-width: 1160px){
			padding: 0 30px;
		}
		h1{
			margin-top: 15px;
		}
	}
	picture{
		display: block;
		width:100%;
		margin:auto;
		img{
			width:100%;
		}
	}
	.holder{
		overflow: hidden;
		width: 100%;
		margin-top: 30px;
		#timeTagsSection{
			box-sizing: border-box;
			float:left;
		}
		#share{
			float:right;
			margin-top: 2px;
			li{
				font-size:1.4em;
				color:#fff;
				margin-left: 10px;
			}
		}
	}
}