#large{
	header{

	}
	picture{
		display: block;
		width:100%;
		margin:auto;
		img{
			width:100%;
		}
	}
	#timeTagsSection{
		box-sizing: border-box;
		margin-top: 15px;
	}
	#share{
		@media screen and (min-width:1180px){
			margin-top: 30px;
		}
		li{
			font-size:1.6em;
		}
	}

	@media screen and (max-width:1179px){
		.large{
			display: none;
		}
	}

	@media screen and (min-width:1180px){
		.mobile{
			display: none;
		}
	}
}