#large{
	header{
		@media screen and (max-width: 1160px){
			padding: 0 30px;
		}
		h1{
			margin-top: 15px;
		}
	}
	picture{
		display: block;
		width:100%;
		margin:auto;
		img{
			width:100%;
		}
	}
	.holder{
		overflow: hidden;
		width: 100%;
		margin-top: 30px;
		#timeTagsSection{
			box-sizing: border-box;
			float:left;
		}
		#share{
			float:right;
			margin-top: 2px;
			li{
				font-size:1.4em;
				color:#fff;
				margin-left: 10px;
			}
		}
	}

	@media screen and (max-width:800px){
		.large{
			display: none;
		}
	}

	@media screen and (min-width:800px){
		.mobile{
			display: none;
		}
	}
}