#postPage{
	position: relative;
	header {
		color:#2d3436;
		h1{
			font-family: $headFont;
			font-weight:900;
			color:#333;
		}
	}

	#body{
		@import '../editStyle';
		padding:30px;
	}
}

#large{
	header{
		padding: 0 30px;
	}
}

.xlarge{
	max-width:100% !important;
	padding: 40px 0;
	img{
		width:100%;
	}
}

.llarge{
	max-width:928px !important;
	margin:auto;
	img{
		width: 100%;
	}
}

#tags{
	max-width:674px;
	margin:auto;
	margin-top: 30px;
	ul{
		li{
			font-family: 'Montserrat', sans-serif;
			font-size:.9em;
			margin-right: 15px;
			color:#333;
		}
	}
}