
#startPage{
	margin:auto;
	margin-top: 80px;
	max-width:1300px;
	padding: 0 30px;
	.wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	article{
		margin-bottom: 30px;

		@media screen and (max-width: 640px){
			width:100%;
		}
		@media screen and (min-width:641px){
			max-width:30%;
		}
		a{
			text-decoration: none;
		}
		h2{
			font-family: $headFont;
			font-weight: 400;
			font-size:2em;
			margin-top: 15px;

			color:#7f8c8d;

			@media screen and (min-width: 641px){
				font-size: 1.5em;
			}
		}

		picture{
			display: block;
			margin-top: 10px;
			img{
				display: block;
				width: 100%;
			}
		}
	}
}