#topper{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height:60px;
	background-color: #fff;
	padding-bottom: 10px;
	h1{
		font-family: 'Pacifico', cursive;
		font-weight: 400;
		font-size:2em;
		color:#333;
	}
	@media screen and (max-width: 574px){
		h1{
			font-size:1.5em;
		}
	}
	@media screen and (max-width:910px){
		padding: 15px;
		overflow: hidden;
		h1{
			float:left;
		}
		#main{
			display: none;
		}
	}
	@media screen and (min-width:911px){
		h1{
			width:238px;
			margin:auto;
		}
	}
	#main{
		float: left;
		padding:10px 20px;

		li{
			font-family: 'Gelasio', serif;
			font-weight:400;

			margin-right: 10px;
		}
	}
}

#large{
	#topper{
		@media screen and (min-width:1000px){
			display:none;
		}
	}
}