#topper{
	#bg{
		background-position: center center;
		height:350px;
	}
	header{
		padding-top:40px;
		h1{
			font-weight: 400;
			font-size:7em;
			background-size:100%;
			color:#fff;
			text-align: center;
			border:solkid;
		}
		p{
			font-family: $headFont;
			font-weight:400;
			color:#fff;
			font-style: italic;
			font-size:1.5em;
			text-align: center;
		}
	}
	nav{
		background-color: #000;
		bottom: 0;
		text-align: center;
		padding: 10px 0;
		border-top:solid 2px #fad390;
		border-bottom:solid 2px #fad390;
		ul{
			display: inline-block;
		}
		li{
			margin-right: 15px;
			border:solid;
			a{
				font-family: $headFont;
				font-weight: 400;
				font-size:1em;
				text-decoration: none;
				color:#2ecc71;
			}
		}
		#themeButton{
			display: inline-block;
			a{
				font-family: $headFont;
				font-size:1em;
				font-weight: 400;
				color:#fff;
				text-decoration: none;
			}
		}
	}
}

#large{
	#topper{
		@media screen and (min-width:1000px){
			display:none;
		}
	}
}

#mobileMenu{
	position: absolute;
	top:60px;
	left: 0;
	right: 0;
	background-color: #fff;
	display: none;
	ul{
		margin:30px;
		box-sizing: border-box;
		li{
			list-style: none;
			font-family: $headFont;
			font-weight:400;
			font-size:1.2em;
			border:solid 1px #333;
			border-bottom:none;
			padding:20px;
			&:last-of-type{
				border-bottom: solid 1px #333;
			}
			a{
				display: block;
				text-decoration: none;
				color:#333;
				width: 100%;
			}
		}
	}
	#themeButton{
		float:right;
		font-family: $headFont;
		font-size:2em;
		margin:20px;
		a{
			text-decoration: none;
			color:#333;
		}
	}
	@media screen and (min-width:910px){
		display: none;
	}
}