$headFont: 'Montserrat', sans-serif;

@import 'sub/topper';
@import 'sub/large';
@import 'sub/twosides';
@import 'sub/small';
@import 'sub/postUnite';
@import 'sub/editPost';
@import 'sub/startpage';

*{
	margin: 0;
	padding: 0;
}

.inline{
	li{
		display: inline-block;
	}
}

a{
	color:#16a085;
}