#topper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  padding-bottom: 10px; }
  #topper h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2em;
    color: #333; }
  @media screen and (max-width: 574px) {
    #topper h1 {
      font-size: 1.5em; } }
  @media screen and (max-width: 910px) {
    #topper {
      padding: 15px;
      overflow: hidden; }
      #topper h1 {
        float: left; }
      #topper #main {
        display: none; } }
  @media screen and (min-width: 911px) {
    #topper h1 {
      width: 238px;
      margin: auto; } }
  #topper #main {
    float: left;
    padding: 10px 20px; }
    #topper #main li {
      font-family: 'Gelasio', serif;
      font-weight: 400;
      margin-right: 10px; }

@media screen and (min-width: 1000px) {
  #large #topper {
    display: none; } }

#large header {
  margin-top: 30px !important;
  max-width: 674px;
  margin: auto; }
  @media screen and (min-width: 1200px) {
    #large header h1 {
      font-size: 3.3em; } }
#large picture {
  display: block;
  width: 100%;
  margin: auto; }
  #large picture img {
    width: 100%; }
#large #share {
  margin-top: 30px; }
  #large #share li {
    font-size: 1.6em; }

@media screen and (max-width: 799px) {
  #twosides #pic_head picture img {
    width: 100%;
    display: block; }
  #twosides #pic_head header {
    padding: 20px; }
    #twosides #pic_head header #cat,
    #twosides #pic_head header #section,
    #twosides #pic_head header #time {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 1em;
      display: inline-block; }
    #twosides #pic_head header #section {
      margin-top: 10px; }
      #twosides #pic_head header #section li {
        background-color: #95a5a6;
        padding: 5px;
        font-size: .8em; }
        #twosides #pic_head header #section li a {
          color: #fff;
          text-decoration: none; }
    #twosides #pic_head header #time {
      display: none; }
    #twosides #pic_head header #cat {
      background-color: #e74c3c;
      color: #fff;
      font-size: .8em;
      padding: 5px; } }
@media screen and (min-width: 800px) {
  #twosides #pic_head {
    overflow: hidden;
    height: 50vw;
    position: relative;
    background-color: #8c7ae6; }
    #twosides #pic_head picture {
      display: block;
      width: 50%;
      left: 0;
      height: 100%;
      position: absolute;
      overflow: hidden; }
      #twosides #pic_head picture img {
        display: block;
        height: 100%;
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: 0;
        top: 0;
        margin: auto; }
    #twosides #pic_head #head_content {
      width: 50%;
      right: 0;
      position: absolute;
      box-sizing: border-box;
      height: 100%; }
      #twosides #pic_head #head_content header {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        right: 50px; }
        #twosides #pic_head #head_content header h1 {
          color: #ecf0f1; } }
        @media screen and (min-width: 800px) and (max-width: 800px) {
          #twosides #pic_head #head_content header h1 {
            font-size: 2em; } }
        @media screen and (min-width: 800px) and (min-width: 801px) and (max-width: 1000px) {
          #twosides #pic_head #head_content header h1 {
            font-size: 2.3em; } }
        @media screen and (min-width: 800px) and (min-width: 1001px) and (max-width: 1310px) {
          #twosides #pic_head #head_content header h1 {
            font-size: 3em; } }
        @media screen and (min-width: 800px) and (min-width: 1311px) {
          #twosides #pic_head #head_content header h1 {
            font-size: 3.8em; } }
@media screen and (min-width: 800px) {
        #twosides #pic_head #head_content header #cat,
        #twosides #pic_head #head_content header #section {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          display: inline-block;
          color: #fff;
          font-size: 1.2em; }
        #twosides #pic_head #head_content header #section {
          margin-left: 15px;
          margin-top: 15px; }
        #twosides #pic_head #head_content header #time {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 1em;
          color: #fff;
          margin-top: 30px; } }
@media screen and (max-width: 799px) {
  #twosides #body {
    padding: 0 20px; } }

#small {
  max-width: 1100px;
  margin: auto; }
  @media screen and (min-width: 911px) {
    #small {
      margin-top: 110px; } }
  @media screen and (min-width: 1100px) {
    #small header h1 {
      font-size: 3.3em; } }
  #small picture {
    display: block; }
  #small #pContent picture {
    display: block;
    margin-top: 25px; }
    #small #pContent picture img {
      max-width: 70%;
      display: block; }

#postPage {
  position: relative; }
  #postPage header {
    color: #2d3436; }
    #postPage header h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      color: #333; }
  #postPage #body {
    padding: 30px; }
    #postPage #body p {
      font-family: 'Gelasio', serif;
      font-weight: 400;
      font-size: 1.4em;
      margin-bottom: 30px; }
    #postPage #body ul {
      font-family: 'Gelasio', serif;
      font-weight: 400;
      font-size: 1.4em; }
      #postPage #body ul li {
        list-style-type: none;
        margin-top: 50px; }
        #postPage #body ul li h3 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 900;
          font-size: 1em;
          margin-bottom: 15px; }
    #postPage #body h2 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 2em;
      margin-bottom: 15px; }
    #postPage #body h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 1.6em;
      margin-bottom: 15px; }
    #postPage #body ul li h3 {
      display: block; }
    #postPage #body p,
    #postPage #body ul,
    #postPage #body ol,
    #postPage #body blockquote,
    #postPage #body h2,
    #postPage #body h3 {
      max-width: 674px;
      margin: auto;
      margin-bottom: 30px; }
    #postPage #body img {
      display: block; }
    #postPage #body p + .xlarge {
      margin-bottom: 0; }

#large header,
#twosides header {
  padding: 0 30px; }

.xlarge {
  max-width: 100% !important;
  padding: 40px 0; }
  .xlarge img {
    width: 100%; }

.llarge {
  max-width: 928px !important;
  margin: auto; }
  .llarge img {
    width: 100%; }

#tags {
  max-width: 674px;
  margin: auto;
  margin-top: 30px; }
  #tags ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    margin-right: 15px;
    color: #333; }

#adminTools {
  display: none; }

#alltags {
  display: none; }

#imageIframe {
  display: none; }

#pictures {
  width: 60%;
  margin: auto; }
  #pictures label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px; }
  #pictures input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-top: 8px; }

#toolPlacement {
  float: right; }

#editTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3em;
  font-weight: 900;
  border: none;
  width: 674px;
  outline: none; }

#edit {
  max-width: 674px;
  margin: auto; }

.cke_chrome {
  border: none !important;
  width: 674px !important; }

#startPage {
  margin: auto;
  margin-top: 80px;
  max-width: 1300px;
  padding: 0 30px; }
  #startPage .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  #startPage article {
    margin-bottom: 30px; }
    @media screen and (max-width: 640px) {
      #startPage article {
        width: 100%; } }
    @media screen and (min-width: 641px) {
      #startPage article {
        max-width: 30%; } }
    #startPage article a {
      text-decoration: none; }
    #startPage article h2 {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 2em;
      margin-top: 15px;
      color: #7f8c8d; }
      @media screen and (min-width: 641px) {
        #startPage article h2 {
          font-size: 1.5em; } }
    #startPage article picture {
      display: block;
      margin-top: 10px; }
      #startPage article picture img {
        display: block;
        width: 100%; }

* {
  margin: 0;
  padding: 0; }

.inline li {
  display: inline-block; }

a {
  color: #16a085; }

/*# sourceMappingURL=style.css.map */
