body{
	background-color: #000 !important;
}

#topper{
	background-color: #030303 !important;

	#main{
		li{
			color:#fff;
		}
	}
	#themeButton{
		a{
			color:#fff;
		}
	}
	h1{
		color:#fff !important;
	}
}

article{
	h2{
		color:#fff !important;
	}
}

#toolPlacement{
	.fal{
		color:#fff;
	}
}

#large,
#small{
	h1{
		color:#fff !important;
	}

	#timeTagsSection{
		color:#fff;
	}

	#body{
		p{
			color:#fff;
		}
	}
}

.fa-bars{
	color:#fff !important;
}
#mobileMenu{
	background-color:#000;
	a{
		color:#fff !important;
	}
}