body{
	background-color: #1A1A1B !important;
}


#topper{
	background-color: #030303 !important;

	#main{
		li{
			color:#fff;
		}
	}
	#themeButton{
		a{
			color:#fff;
		}
	}
	h1{
		color:#fff !important;
	}
	p{
		color:#fff !important;
	}
}

article{
	h2, h3, p{
		color:#fff !important;
	}
}


#body{
	h2,h3,p{
		color:#fff;
	}

	ul{
		li{
			color:#fff;
		}
	}
}

#pic_head{
	h1{
		color:#fff;
	}
}

#large,
#small{
	h1{
		color:#fff !important;
	}

	#timeTagsSection{
		color:#fff;
	}

	#body{
		p{
			color:#fff;
		}
	}
}
#mobileMenu{
	background-color:#000;
	a{
		color:#fff !important;
	}
}