$regFont: 'Roboto Slab', serif;
.twitter-tweet{
	max-width: 500px !important;
	margin:auto;
	padding-bottom: 30px;
}
p{
	font-family: $regFont;
	font-weight:400;
	font-size:1.2em;
	margin-bottom: 30px;
}
ul{
	li{
		list-style-type: none;
		margin-top: 50px;
		font-family: $regFont;
		font-weight:400;
		font-size:1.2em;

		h3{
			font-family: 'Montserrat', sans-serif;
			font-weight:900;
			font-size:1.6em;
			margin-bottom: 15px;
		}
	}
}

blockquote{
	@media screen and (max-width:849px){
		padding:10px;
	}
	@media screen and (min-width:850px){
		padding:30px;
	}
	border:solid;
	display: block;
	background-color: #ff7675;
	box-sizing: border-box;

	font-style: italic;

	p{
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

strong{
	font-weight:900;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:900;
	font-size:2em;
	margin-bottom: 15px;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight:900;
	font-size:1.6em;
	margin-bottom: 15px;
}

a{
	font-family: $regFont;
}

ul{
	li{
		h3{
			display: block;
		}
	}
}

.yt{
	@media screen and (max-width:770px){
		height:45vw;
	}
	@media screen and (min-width:771px){
		height: 450px;
	}
	iframe{
		height:100%;
	}
}

.cke_chrome{
	img{
		max-width:100%;
	}
}

p,
ul,
ol,
blockquote,
h2,
h3
{
	max-width:674px;
	margin:auto;
	margin-bottom: 30px;
}
img{
	display: block;
}
p+.xlarge{
	margin-bottom: 0;
}